.digital {
	display: block;

	&__dating {
		display: block;
	}
	&__time {
		display: block;
	}

	&__milliseconds {
	}
	&__seconds {
	}
	&__minutes {
	}
	&__hours {
	}
	&__date {
	}
	&__month {
	}
	&__fullYear {
	}
}
