.digital
    span.digital__dating
        span.digital__fullYear(data-digital="fullYear")
        | /
        span.digital__month(data-digital="month")
        | /
        span.digital__date(data-digital="date")

    span.digital__time
        span.digital__hours(data-digital="hours")
        | :
        span.digital__minutes(data-digital="minutes")
        | :
        span.digital__seconds(data-digital="seconds")
        | :
        span.digital__milliseconds(data-digital="milliseconds")

    //module ./modules/test/Test

